.headerContainer {
    height: 5rem;
    border-bottom: 1px solid var(--gray-800);
}

.headerContent {
    /*por que quero ele ao centro*/
    max-width: 1120px;
    height: 5rem;
    /*para ele alinhar ao centro automaticamente*/
    margin: 0 auto;
    padding: 0 2rem;   
    
    display: flex;
    align-items: center;

    nav {
        margin-left: 5rem;
        height: 5rem;

        a {
            display: inline-block;
            position: relative;
            padding: 0 0.5rem;
            height: 5rem;
            line-height: 5rem;
            color: var(--gray-300);

            transition: color 0.2s;

            & + a {
               margin-left: 2rem; 
            }

            &:hover{
                color: var(--white);
            }

            &.active{
                color: var(--white);
                font-weight: bold;
            }

            &.active::after {
                content: '';
                height: 3px;
                border-radius: 3px 3px 0 0;
                width: 100%;
                position: absolute;
                bottom: 1px;
                left: 0;
                background: var(--yelow-500);

            }
        }
    }

    /*para jogar o botao todo para direita no cabeçalho*/
    button {
        margin-left: auto;
    }
}